body{
    background-color: #858987;
}

.topBanner{
    text-align: center;
    margin: auto;
    background-color: #C5C4C0;
    width: 40%;
}

.labColumns{
    display: flex;
    grid-auto-flow: column;
    column-count: 2;
    columns: 2 200px;
    justify-content: center;
    align-content: center;
    column-gap: 50px;
}

.columnOne{

}

.labItem{
    background-color: #C5C1C0;
    padding: 5px;
    text-align: center;
    width: 150px;
    margin-top: 20px;
}