body{
    background: #c3c3c3;
}

.main_body{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

img{
    width: 83%
}

.link_one{

    position: absolute;
    z-index: 1020;
    padding-left: 595px;
    padding-bottom: 330px;
    font-size: 9px;
}

.link_two{
    display: grid;
    position: absolute;
    z-index: 1000;
    padding-left: 770px;
    padding-bottom: 490px;
    font-size: 10px;
}